// Place all the styles related to the Guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$h1_color: green;
$h2_color: red; 


h1 {
   color : $h1_color;
   text-align: center;
}
h2 {
   color : $h2_color;
   text-align: center;
}

table, th, td {
  border: 1px solid black;
}

td {
   padding: 5px; 
}

table, th, td {
  border: 1px solid black;
}


th {
  background-color: blue;
  color: white;
  text-align: left;
}
